<!-- views/submitted.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Submitted Data</title>
</head>
<body>
  <h1>Submitted Data</h1>
  <p id="username" name="username">Username: <%= username %></p>
  <p id="email" name="email">Email: <%= email %></p>
</body>
</html>
